@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');


/* home page hero background image */
.bgimage {
  height:100vh;
  background: url('./assets/images/hero.jpg');
  background-size:cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 5.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*Page Headers*/
.pageHeader{
  text-align: center;
  font-size: 3rem;
  margin: 30px;
  font-family: 'Gloock', serif;
}

/*Destinations Page*/
.destImg{
  width: 450px;
  height: auto;
}

.destHeadings{
  text-align: center;
}
